@import url('https://fonts.googleapis.com/css2?family=Carme&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ;
}

/* --------------------header---------------------------------- */

body {
    background-color: #0a1223;
}

.head {
    padding-top: 25px;
    padding-right: 25px;

}

.nav_1>ul {
    display: flex;
    align-items: normal;
    justify-content: right;

}

.nav_1 li {
    padding: 0px 35px;
    list-style-type: none;
}

.nav_1 li a {
    color: #5d5d5d;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav_1 li a:hover {
    color: #54597d;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

header h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* ------------------------------------------------------------- */


.colum_text_1 {
    width: 590px;
    height: 150px;
}

.colum_text_2 {
    width: 620px;
    height: 150px;
}

.colum_text_2 h3 {
    font-size: 40px;
    padding-bottom: 50px;
    background: linear-gradient(to right, #fff 0%, #0a1223 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colum_text_2 p {
    color: #5d5d5d;
    font-size: 15px;
    text-align: justify;
}

.colum_text_1 h3 {
    font-size: 40px;
    padding-bottom: 50px;
    background: linear-gradient(to right, #fff 0%, #0a1223 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colum_text_1 p {
    color: #5d5d5d;
    font-size: 15px;
    text-align: justify;
}

.colum_1_full {
    padding-bottom: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.colum_2_full{
    padding-bottom: 65px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
    
}

.colum_1_full img {
    width: 600px;
    height: 300px;
    padding-left: 20px;
    padding-top: 20px;
}

.colum_2_full img {
    width: 600px;
    height: 300px;
    padding-left: 20px;
    padding-top: 20px;
}

.img_XL {
    width: 600px;
    height: 300px;
}